body {
    background-color: rgb(33, 30, 74);
    font-family: sans-serif;
}

.p-2 {
    padding: 20px;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

#box-wrapper {
    width: 60%;
    margin: 0 auto;
}
.text-center-white {
    text-align: center;
    color:white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.color-fizz {
    background-color: rgb(221, 28, 66);
}

.color-buzz {
    background-color: rgb(137, 228, 19);
}

.color-fizzbuzz {
    background-color: rgb(102, 74, 203);
}

.base-color {
    background-color: rgb(241, 119, 31);
}

.ms_box {
    width: 15%;
    height: 150px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    border: 2px solid black;
    margin: 10px;   
}